<select class="filter__select" #filter (change)="onSelectChange(filter.value)">
  <ng-container *ngIf="type === 'genres'">
    <option
      class="filter__option"
      *ngFor="let genre of (genres$ | async)"
      [selected]="(selectedGenreId$ | async) === genre.genreID"
      [value]="genre.genreID">{{genre.genreName}}</option>
  </ng-container>
  <ng-container *ngIf="type === 'sorting'">
    <option
      class="filter__option"
      *ngFor="let sorting of sortingOptions"
      [selected]="(selectedSorting$ | async) === sorting.value"
      [value]="sorting.value">{{sorting.label}}</option>
  </ng-container>
  <option class="filter__option filter__option--reset" value="">{{type === 'genres' ? 'Все телеканалы' : 'По умолчанию'}}</option>
</select>
