.filter {
  &__select {
    background: transparent;
    color: white;
    min-width: 165px;
    min-height: 36px;
    font-size: 17px;
    margin-left: 23px;
    cursor: pointer;
    border-color: #415165;
    border-radius: 5px;
    padding: 0 17px 0 17px;

    &:focus {
      color: #BA9D5A;
      border-color: #BA9D5A;
    }
  }

  &__option {
    height: 38px;
    color: black;

    &:hover {
      background-color: #BA9D5A;
    }
  }
}
