.channel {
  transition: all;
  transition-duration: 0.5s;
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: 5px;
  overflow: hidden;

  &__image {
    display: block;
    width: 100%;
  }

  &:hover {
    border-color: #BA9D5A;
    transform: translateY(-5px);
  }

  &__info {
    position: absolute;
    z-index: 2;
  }
}
