<header class="header centered">
  <nav class="nav">
    <ul class="nav__list">
      <li class="nav__item" *ngFor="let menuItem of menuItems">
        <a class="nav__link" [routerLink]="menuItem.link" routerLinkActive="active">{{menuItem.label}}</a>
      </li>
    </ul>
  </nav>
  <section *ngIf="shouldShowFilters()" class="filters">
    <app-filter type="sorting"></app-filter>
    <app-filter type="genres"></app-filter>
  </section>
</header>
<main class="centered">
  <router-outlet></router-outlet>
</main>
